@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-principal {
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  width: 100vw;
}
